{%extends 'base.html'%}
{%block title%}发布交易广告{%endblock%}

{% block content %}
    {%if user.is_authenticated%}
        <div class="card-header bg-dark text-white">
            <h4>发布帖子</h4>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form.as_p}}       
            <button style="margin-bottom:100px;" class="btn btn-dark btn-lg btn-block">发布广告</button>
        </form>
    {%else%}    
        <meta http-equiv="REFRESH" content="0;url={%url 'register'%}">
    {%endif%}
        <script>
            var uploadImg1 = document.getElementById("id_photo_main");
            uploadImg1.onchange = function() {
                const maxAllowedSize = 1 * 1024 * 1024;
                if(this.files[0].size > maxAllowedSize){
                alert("请上传不超过1MB的图片！");
                this.value = "";
                };
            };
            var uploadImg2 = document.getElementById("id_photo_1");
            uploadImg2.onchange = function() {
                const maxAllowedSize = 1 * 1024 * 1024;
                if(this.files[0].size > maxAllowedSize){
                alert("请上传不超过1MB的图片！");
                this.value = "";
                };
            };
            var uploadImg3 = document.getElementById("id_photo_2");
            uploadImg3.onchange = function() {
                const maxAllowedSize = 1 * 1024 * 1024;
                if(this.files[0].size > maxAllowedSize){
                alert("请上传不超过1MB的图片！");
                this.value = "";
                };
            };
            var uploadImg4 = document.getElementById("id_photo_3");
            uploadImg4.onchange = function() {
                const maxAllowedSize = 1 * 1024 * 1024;
                if(this.files[0].size > maxAllowedSize){
                alert("请上传不超过1MB的图片！");
                this.value = "";
                };
            };
            var uploadImg5 = document.getElementById("id_photo_4");
            uploadImg5.onchange = function() {
                const maxAllowedSize = 1 * 1024 * 1024;
                if(this.files[0].size > maxAllowedSize){
                alert("请上传不超过1MB的图片！");
                this.value = "";
                };
            };
        </script>
{%endblock%}
