{%extends 'base.html'%}

{%block content%}
<h1 class="flex">《用户隐私》</h1> 

<h3 class="flex"><span style="font-weight: bolder; color:orange">爸爸牛B网</span>会尽可能的保证您的隐私和安全，请确保您已彻底阅读《用户隐私》</h3>
<br>

<h3>您必须同意如下:</h3>
<h4>1, 您是在您自愿的情况下向我们提供个人资料并不追求我们（爸爸牛B网）的责任</h4>
<h4>2, 您在本网站发布的任何内容所提供的资料均为您自愿提供给本站以及本站的用户并且不追究本站的责任</h4>
<h4>3, 您已阅读并会遵守《本站条例》以及《用户隐私》条例</h4>
<h4>4, 您同意我们以后可以无条件的并在不需要通知您的情况下改变《用户隐私》和《本站条例》并且免除一切责任</h4>
<h4>5, 您同意我们收集您的资料，并对您的资料进行使用，管理，储存，删除，并且免除一切责任</h4>
<h4>6, 您同意我们（爸爸牛B网）以及本站相关人员可能会使用您的信息与您进行联络和沟通</h4>
<br>
<h5>我们（爸爸牛B网）会收集您注册所提供的个人资料，以及您任何您发布的内容中的信息，并且有可能使用您的Cookies, 以及您的位置信息</h5>
<br>
<h4>我们为什么要收集您的信息？</h4>
<br>

<h5>我们会利用收集的信息更加进一步的完善本站所能提供的服务，甚至开发新的服务，包括个性化服务及广告</h5> 
<br>
<h5>本站没有义务保留您的数据，您的数据和信息可能会被任意的删除，并且本站免除一切责任</h5> 
<br>
<h5>您也可以登录您的账户删除您的广告，但您允许我们对您的信息可能会做出的备份，恢复，并且使用</h5> 
<br>

<h5>如发生意外，比如数据丢失，泄露，损坏，您不可以追究本站的责任</h5>
<br>
<h5>未满18岁的用户请在监护人同意的情况下使用本站，加州用户请勿使用本站</h5>
<br>
<h5>如有任何的问题或者需求，请联系我们，联系方式请参考本站的《联系我们》</h5>
<br>
<h4><strong> 如以上任何条例造成了您的不理解，不同意，请勿使用本站</strong></h4>

{%endblock%}
