{%extends 'base.html'%}
{%block content%}
    <h1 class="flex">《网站条款》</h1>
    <h3 class="flex">请认真阅读并且了解本站条款，如果对任一条款有任何的不理解，请不要使用本站</h3>
    <br>
    <h4><span style="font-weight: bolder; color:orange ">爸爸牛B网</span>是北美中文分类信息网站，我们为您提供免费的分类广告如招聘，租房，等便民服务</h4>
    <br>
        <h4>使用我们的网站，您必须：</h4>
        <h5> 1，不得做出任何违法行为，不发布任何违法广告</h5>
        <h5>2，不得违反任何本站条例，不追求本站的任何责任</h5>
        <h5>3，不得侵权本站，不得攻击本站，不得冒充本站，或者冒充本站的管理员以及员工</h5>
        <h5>4，请审核您发布的帖子，请勿发布违法，侵权，盗用内容，您将为您发布的帖子和行为负全部责任，本站不为任何帖子及广告以及用户行为付出任何责任</h5>
        <h5>5，如有遇到不当，违法，侵权等帖子，请尽快联系本站删除，本站是一个提供便利的平台，并不为用户的行为负责，您必须不追求本站的任何责任，在本站的考量下，如本站觉得有必要，本站会协助您法办犯罪份子</h5>
        <h5>6，我们有权修改任何与本站相关的任何协议，条款，并且不需要通知您，您无权修改任何与本站相关的协议，条款</h5>
        <h5>7，在法律允许的情况下，您同意为任何您与本站《爸爸牛B网》因纠纷，诉讼，破坏，产生的一切损失做出承担，包括但不限于，律师费，因破坏，侵权对本站造成的损害，并对本站《爸爸牛B网》以及本站相关行政人员做出补偿，并使本站和本站人员，不受到伤害和损害</h5>
        <h5>8，我们不对任何您使用本站服务和广告所导致的人身伤害或财产损失及一切纠纷负责</h5>
        <h5>9，我们有权无条件的删除您的账号或对您的账号以及发布的帖子和广告做出修改</h5>
        <h5>10，在使用本站时，您不可以使用插件，ROBOT，等自动化软件，此外，请勿大量发帖</h5>
        <h5>11，请仔细阅读，本站的用户隐私，及联系我们，本站及本站人员不为任何的审查，审核，疏忽等行为负责</h5>
        <h4><strong> 12，本站保留一切权力，请认真阅读，如有对以上任何一条条文不同意，不理解，请勿使用本站</strong></h4>
  
{%endblock%}
